[submodule "test"]
	path = test
	url = https://github.com/dimaslanjaka/site.git
	branch = hexo-shortcodes
[submodule "lib"]
	path = lib
	url = https://github.com/dimaslanjaka/hexo-shortcodes.git
	branch = pre-release
[submodule "packages/git-embed"]
	path = packages/git-embed
	url = https://github.com/dimaslanjaka/embed-like-gist.git
	branch = private
