**/node_modules
**/tmp
**/build
**/.yarn/cache
**/.yarn/*.gz
**/.yarn/versions
**/dist/*.tsbuildinfo
**/db.json
release/hexo-shortcodes-*.tgz
/lib/*
!/lib/gist.css
!/lib/github*.js
yarn.lock
packager-lock.json
/test
/packages