{% set theme_config = themeConfig() %}
<nav class="bg-gray-900 mb-4">
  <div class="max-w-7xl mx-auto px-2 sm:px-6 lg:px-8">
    <div class="relative flex items-center justify-between h-16">
      <!-- Mobile Menu Button -->
      <div class="absolute inset-y-0 left-0 flex items-center sm:hidden">
        <button type="button"
                class="inline-flex items-center justify-center p-2 rounded-md text-gray-400 hover:text-white focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-900 focus:ring-white"
                aria-controls="mobile-menu"
                aria-expanded="false">
          <span class="sr-only">Open main menu</span>
          <svg class="block h-6 w-6"
               xmlns="http://www.w3.org/2000/svg"
               fill="none"
               viewBox="0 0 24 24"
               stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7" />
          </svg>
          <svg class="hidden h-6 w-6"
               xmlns="http://www.w3.org/2000/svg"
               fill="none"
               viewBox="0 0 24 24"
               stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
          </svg>
        </button>
      </div>
      <!-- Logo and Title -->
      <div class="flex-1 flex items-center justify-center sm:items-stretch sm:justify-start">
        <div class="flex-shrink-0 flex items-center">
          <a href="{{ urlFor("/") }}">
            <img src="{{ urlFor(theme_config.nav_icon) }}"
                 alt="Logo"
                 class="h-8 w-auto">
          </a>
          <a href="{{ urlFor("/") }}" class="text-white text-lg font-semibold ml-2">{{ config.title }}</a>
        </div>
      </div>
      <!-- Desktop Navigation Menu -->
      <div class="hidden sm:block sm:ml-6">
        <div class="flex space-x-4">
          {% if theme_config.nav %}
            {% for item in theme_config.nav %}
              <div class="relative group">
                <a href="{{ item.link }}"
                   class="flex items-center text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">
                  {{ item.text }}
                  {% if item.submenu %}<i class="fa-thin fa-caret-down ml-2"></i>{% endif %}
                </a>
                <!-- Dropdown for submenu -->
                {% if item.submenu %}
                  <div class="absolute hidden bg-gray-800 text-white rounded-md shadow-lg group-hover:block z-50 w-48">
                    {% for submenu in item.submenu %}
                      <a href="{{ submenu.link }}"
                         class="block px-4 py-2 text-sm hover:bg-gray-700">{{ submenu.text }}</a>
                    {% endfor %}
                  </div>
                {% endif %}
              </div>
            {% endfor %}
          {% endif %}
        </div>
      </div>
      <!-- Search Icon -->
      <div class="relative flex items-center sm:ml-6">
        <button id="openSearchModal"
                class="p-2 rounded-md text-gray-400 hover:text-white focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-900 focus:ring-white">
          <i class="fa fa-search"></i>
          <span class="sr-only">Open Search</span>
        </button>
      </div>
    </div>
  </div>
  <!-- Mobile menu, show/hide based on menu state. -->
  <div class="sm:hidden" id="mobile-menu">
    <div class="px-2 pt-2 pb-3 space-y-1">
      {# <a href="{{ urlFor("/") }}" class="text-gray-300 hover:bg-gray-700 hover:text-white block px-3 py-2 rounded-md text-base font-medium">Home</a> #}
      {% if theme_config.nav %}
        {% for item in theme_config.nav %}
          <div class="relative group">
            <a href="{{ item.link }}"
               class="flex items-center text-gray-300 hover:bg-gray-700 hover:text-white block px-3 py-2 rounded-md text-base font-medium">
              {{ item.text }}
              {% if item.submenu %}<i class="fa-thin fa-caret-down ml-2"></i>{% endif %}
            </a>
            {% if item.submenu %}
              <div class="absolute hidden bg-gray-800 text-white rounded-md shadow-lg group-hover:block z-50 w-48">
                {% for submenu in item.submenu %}
                  <a href="{{ submenu.link }}"
                     class="block px-4 py-2 text-sm hover:bg-gray-700">{{ submenu.text }}</a>
                {% endfor %}
              </div>
            {% endif %}
          </div>
        {% endfor %}
      {% endif %}
    </div>
  </div>
</nav>
<!-- Search Modal -->
<div id="searchModal"
     class="fixed inset-0 z-50 hidden overflow-y-auto"
     aria-labelledby="modal-title"
     role="dialog"
     aria-modal="true">
  <div class="flex items-start justify-center min-h-screen px-4">
    <div class="search-modal bg-gray-800 text-white p-6 rounded-lg shadow-lg relative">
      <button id="closeSearchModal"
              class="absolute top-4 right-4 text-gray-400 hover:text-white">
        <i class="fa fa-times"></i>
      </button>
      <h2 class="text-lg font-medium mb-4">Search</h2>
      <input type="text"
             id="searchInput"
             class="w-full p-2 rounded bg-gray-700 text-white"
             placeholder="Type to search..." />
      <div id="searchResults" class="mt-4">
        <!-- Search results will go here -->
      </div>
    </div>
  </div>
</div>
