{% extends '_layout.njk' %}
{% set post = pageInfo(page) %}
{% block title %}{{ post.title }} - {{ config.title }}{% endblock %}
{% block description %}{{ config.title }} - {{ post.description }}{% endblock %}
{% set tocdatas = parseToc(post.content) %}
{%- set all_tags = [] %}
{%- if post.tags %}
  {%- set all_tags = all_tags.concat(post.tags.toArray()) %}
{%- endif %}
{%- if site.tags %}
  {%- set all_tags = all_tags.concat(site.tags.toArray()) %}
{%- endif %}
{% block content %}
  <div class="w-full mx-auto max-w-8xl">
    <div class="flex flex-col lg:flex-row w-full">
      {# Use flex-col on mobile #}
      <main class="flex-auto w-full min-w-0 lg:static lg:max-h-full lg:overflow-visible">
        {# page overview #}
        <div id="accordion-collapse-metadata" data-accordion="collapse">
          <h2 id="accordion-post-metadata">
            <button type="button"
                    class="flex items-center justify-between w-full p-5 font-medium rtl:text-right text-gray-500 border border-b-0 border-gray-200 rounded-t-xl focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-800 dark:border-gray-700 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-800 gap-3"
                    data-accordion-target="#accordion-post-metadata-body"
                    aria-expanded="false"
                    aria-controls="accordion-post-metadata-body">
              <span class="font-bold tracking-tight text-gray-900 dark:text-white">{{ post.title }} - {{ config.title }}</span>
              <svg data-accordion-icon
                   class="w-3 h-3 rotate-180 shrink-0"
                   aria-hidden="true"
                   xmlns="http://www.w3.org/2000/svg"
                   fill="none"
                   viewBox="0 0 10 6">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5" />
              </svg>
            </button>
          </h2>
          <div id="accordion-post-metadata-body"
               class="hidden"
               aria-labelledby="accordion-post-metadata">
            <div class="p-5 border border-t-0 border-gray-200 dark:border-gray-700">
              <p class="text-gray-500 dark:text-gray-400">{{ post.description }}</p>
            </div>
          </div>
        </div>
        {# page content #}
        {{ injectBeforePostHtml() }}
        <div class="p-5">{{ partial('macro/labels.njk', { post: post }) }}</div>
        <div class="max-w-none format lg:format-lg dark:format-invert format-red post">{{ post.content }}</div>
        {% if theme.gallery %}{{ partial('macro/gallery-mansonry.njk', { post: post }) }}{% endif %}
        {{ injectAfterPostHtml() }}
        {% include 'partials/post-pagination.njk' %}
        {% include 'partials/disqus.njk' %}
      </main>
      <div class="flex-none w-full mt-4 lg:mt-0 lg:w-64 lg:ml-2 xl:text-sm">
        <div class="flex overflow-y-auto sticky top-5 flex-col justify-between">
          {# accordion start #}
          <div id="accordion-collapse-aside" data-accordion="collapse">
            {% if tocdatas.length > 0 %}
              <h2 id="accordion-post-toc">
                <button type="button"
                        class="flex items-center justify-between w-full p-5 font-medium rtl:text-right text-gray-500 border border-b-0 border-gray-200 rounded-t-xl focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-800 dark:border-gray-700 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-800 gap-3"
                        data-accordion-target="#accordion-post-toc-body"
                        aria-expanded="false"
                        aria-controls="accordion-post-toc-body">
                  <span><i class="fa-light fa-table mr-2"></i> On this page</span>
                  <svg data-accordion-icon
                       class="w-3 h-3 rotate-180 shrink-0"
                       aria-hidden="true"
                       xmlns="http://www.w3.org/2000/svg"
                       fill="none"
                       viewBox="0 0 10 6">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5" />
                  </svg>
                </button>
              </h2>
              <div id="accordion-post-toc-body"
                   class="hidden"
                   aria-labelledby="accordion-post-toc">
                <div class="p-5 border border-b-0 border-gray-200 dark:border-gray-700">
                  <nav id="TableOfContents">
                    <ul class="toc">
                      {%- for dataToc in tocdatas %}
                        <li>
                          <a href="{{ dataToc.link }}">{{ dataToc.title }}</a>
                          {%- if dataToc.subItems.length > 0 %}
                            <ul>
                              {%- for subItem in dataToc.subItems %}
                                <li>
                                  <a href="{{ subItem.link }}">{{ subItem.title }}</a>
                                  {%- if subItem.subItems.length > 0 %}
                                    <ul>
                                      {%- for nestedItem in subItem.subItems %}
                                        <li>
                                          <a href="{{ nestedItem.link }}">{{ nestedItem.title }}</a>
                                          {%- if nestedItem.subItems.length > 0 %}
                                            <ul>
                                              {%- for deeperItem in nestedItem.subItems %}
                                                <li>
                                                  <a href="{{ deeperItem.link }}">{{ deeperItem.title }}</a>
                                                  {%- if deeperItem.subItems.length > 0 %}
                                                    <ul>
                                                      {%- for deepestItem in deeperItem.subItems %}
                                                        <li>
                                                          <a href="{{ deepestItem.link }}">{{ deepestItem.title }}</a>
                                                        </li>
                                                      {%- endfor %}
                                                    </ul>
                                                  {%- endif %}
                                                </li>
                                              {%- endfor %}
                                            </ul>
                                          {%- endif %}
                                        </li>
                                      {%- endfor %}
                                    </ul>
                                  {%- endif %}
                                </li>
                              {%- endfor %}
                            </ul>
                          {%- endif %}
                        </li>
                      {%- endfor %}
                    </ul>
                  </nav>
                </div>
              </div>
            {% endif %}
            {%- if (post.tags and post.tags.length) or (site.tags and site.tags.length) %}
              <h2 id="accordion-post-tags">
                <button type="button"
                        class="flex items-center justify-between w-full p-5 font-medium rtl:text-right text-gray-500 border border-gray-200 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-800 dark:border-gray-700 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-800 gap-3"
                        data-accordion-target="#accordion-post-tags-body"
                        aria-expanded="false"
                        aria-controls="accordion-post-tags-body">
                  <span><i class="fa-duotone fa-solid fa-tags mr-2"></i> Tags</span>
                  <svg data-accordion-icon
                       class="w-3 h-3 rotate-180 shrink-0"
                       aria-hidden="true"
                       xmlns="http://www.w3.org/2000/svg"
                       fill="none"
                       viewBox="0 0 10 6">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5" />
                  </svg>
                </button>
              </h2>
              <div id="accordion-post-tags-body"
                   class="hidden"
                   aria-labelledby="accordion-post-tags">
                <div class="p-5 border border-t-0 border-gray-200 dark:border-gray-700">
                  <div class="flex flex-wrap justify-center">
                    {%- for tag in all_tags %}
                      <a href="{{ urlFor(tag.path) }}"
                         rel="tag"
                         class="hover:text-blue-700 mx-2"><i class="fa-regular fa-tag"></i> {{ tag.name }}</a>
                    {%- endfor %}
                  </div>
                </div>
              </div>
            {% endif %}
          </div>
          {# accordion ends #}
          {{ injectAsideHtml() }}
        </div>
      </div>
    </div>
  </div>
{% endblock %}
